@layout.pdf()
  @slot('main')
    @!component('pdf/partials/styles')

    <div class="container">
      @!component('pdf/partials/header', { quote })

      @!component('pdf/partials/meta', { quote })

      @!component('pdf/partials/parties', { quote })

      @!component('pdf/partials/items', { quote })

      @!component('pdf/partials/total', { quote })

      @!component('pdf/partials/signature', { quote })

      @!component('pdf/partials/footer', { quote })
    </div>
  @endslot
@end