@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/noto-sans/noto-sans.woff2') format('woff2'),
  url('../fonts/noto-sans/noto-sans.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/noto-sans/noto-sans-italic.woff2') format('woff2'),
  url('../fonts/noto-sans/noto-sans-italic.woff') format('woff');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
