@if(quote.user.signatureBase64)
  <div class="signature-section" style="display:flex; justify-content: end; width: 100%;">
    <div>
      <div class="signature-name">{{ quote.user.firstName }} {{ quote.user.lastName }}</div>
      <img src="{{ await quote.user.signatureBase64() }}" alt="Signature" class="signature-image">
    </div>
  </div>
@endif
